DATABASE_URL="postgresql://postgres:postgres@localhost:5432/influencer_saas?schema=public"
SESSION_SECRET="troque-por-um-segredo-longo-com-pelo-menos-32-caracteres"
NEXT_PUBLIC_APP_NAME="Influencer SaaS"
